@font-face {
  font-family: "Mplus1p-Regular";
  src: url("../fonts/Mplus1p-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Mplus1p-Medium";
  src: url("../fonts/Mplus1p-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Mplus1p-ExtraBold";
  src: url("../fonts/Mplus1p-ExtraBold.woff2") format("woff2");
  font-display: swap;
}
